.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
}

.flex-col-gap-20 {
  display: flex;
  column-gap: 20px;
}

.col-gap-20 {
  column-gap: 20px;
}

.col-gap-10 {
  column-gap: 10px;
}


.flex-vertical-center {
  display: flex;
  align-items: center;
}

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

.light-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3)
}

.round {
  border-radius: 50%
}

.relative {
  position: relative;
}

.absolute {
  position: absolute
}

.link {
  cursor: pointer;
}

.overlay {
  opacity: 0.4;
  pointer-events: none;
}
.pointer {
  cursor: pointer;
}

.clear-a {
  color: black;
  text-decoration: none;
}

.capsule-button {
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 999em;
  padding: 0 10px;
  background-color: rgb(231, 231, 231);
  color: green;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  100% {
    display: block;
  }

  0% {
    display: none;
  }
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.flex-direc-col {
  display: flex;
  flex-direction: column;
}

.row-gap-10 {
  row-gap: 10px;
}