@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app  {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* html {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 62.5%;
  color: #606266;
} */