@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flexVHCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexVCenter {
  display: flex;
  align-items: center;
}

@mixin absVHCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
